@font-face {
  font-family: "KanitCyrillic";
  src: url(../src/assets/fonts/KanitCyrillic.ttf);
}

::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "KanitCyrillic";
}

body::-webkit-scrollbar {
  width: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper {
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
  background-color: #0c0b1d;
}

#sidebar {
  width: 90px;
  min-width: 90px;
  transition: all 0.25s ease-in-out;
  background-color: #0e2238;
  /* background-color: #0b0f19; */
  display: flex;
  flex-direction: column;
}

.sidebar-logo a {
  color: #fff;
  font-size: 1.15rem;
  font-weight: 600;
}

#sidebar.expand {
  width: 260px;
  min-width: 260px;
}



#sidebar.expand .sidebar-logo,
#sidebar.expand a.sidebar-link span {
  animation: fadeIn 0.25s ease;
}

.toggle-btn {
  width: 30px;
  height: 30px;
  color: #fff;
  border-radius: 0.425rem;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #323c55;
}

.sidebar-nav {
  padding: 0.7rem 0;
  flex: 11 auto;
  z-index: 10;
}

a.sidebar-link {
  padding: 0.625rem 1.625rem;
  color: #fff;
  display: block;
  font-weight: 500;
  white-space: nowrap;
  border-left: 3px solid transparent;
}

.sidebar-link img,
.dropdown-item img {
  font-size: 1.1rem;
  margin-right: 0.75rem;
}

a.sidebar-link:hover {
  background-color: rgba(255, 255, 255, .075);
  border-left: 3px solid #3b7ddd;
}

.sidebar-item {
  position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
  position: absolute;
  top: 0;
  left: 90px;
  background-color: #0e2238;
  padding: 0;
  min-width: 15rem;
  display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
  display: block;
  max-height: 15em;
  width: 100%;
  opacity: 1;
}


#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
  border: solid;
  border-width: 0 .075rem .075rem 0;
  content: "";
  display: inline-block;
  padding: 2px;
  position: absolute;
  right: 1.5rem;
  top: 1.4rem;
  transform: rotate(-135deg);
  transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
  transform: rotate(45deg);
  transition: all .2s ease-out;
}

.sidebar-footer{
  margin-bottom: 50px;
}

.sidebar-dropdown.sidebar-link{
  position: relative;
  padding-left: 3rem;
  transition: all 0.5s;
}

/* ВНИМАНИЕ СЮДА */
/* ВНИМАНИЕ СЮДА */
/* ВНИМАНИЕ СЮДА */
/* ВНИМАНИЕ СЮДА */

.sidebar-dropdown a.sidebar-link::before{
  content: '';
  height: 0.125rem;
  width: 0.375rem;
  background-color: #ffffff80 ;

  position: absolute;
  left: 1.8rem;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s;
}

.sidebar-dropdown a.sidebar-link:hover{
  background: transparent;
  border-left: 3px solid transparent;
  padding-left: 3.8rem;
  color: #3b7ddd;
  transition: all 0.4s;
}

.navbar {
  background-color: #323c55;
  box-shadow: 0 0 2rem 0 rgba(33, 37, 41, .1);
}

.navbar-expand .navbar-collapse {
  min-width: 200px;
}

.avatar {
  height: 40px;
  width: 40px;
}

.card{
  background-color: #fff;
  transition: .4s;
  cursor: pointer;
  color: #000;
  margin-bottom: 1rem;
  border-color: #3b7ddd;
}

.card h6{
  text-transform: uppercase;
  font-size: .7rem;
  margin-bottom: .25rem;
}

.card:hover{
  background-color: #323c55;
  color: #fff;
  transform: translateY(-10.5px);
}

.table>thead tr{
  color: #fff;
  text-align: left;
}

tr.highlight th{
  background-color: #323c55;
  color: #fff;
}